node_modules
venv
*.pyc
.env
.DS_Store
*.sublime-workspace
.vscode
yarn-error.log
development.env
.coverage
.firebaserc
.firebase

# Certificates for localhost testing
localhost.pem
localhost-key.pem
