Flask==0.10.1
Jinja2==2.7
MarkupSafe==0.18
Pysolar==0.5
Werkzeug==0.9.4
argparse==1.2.1
gunicorn==0.15.0
hiredis==0.1.1
honcho==0.4.2
itsdangerous==0.23
newrelic==1.13.1.31
pytz==2013b
redis==2.8.0
wsgiref==0.1.2
