html {
	height: 100%;
}

body {
	font-family:"Lucida Grande",Geneva,Arial,Verdana,sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#menu {
	position: fixed;
	right: 0;
	width: 20%;
	height: 100%;
	text-align: center;
}

.description {
	font-size: 0.6em;
}

.steps {
	text-align: left;
	color: #999;
	margin: 0;
	padding: 1em 0 1em 1.35em;
	text-indent: -1.35em;
}

.active {
	color: #000;
	background-color: #FF6;
}

#results ul {
	text-align: left;
}

#map_canvas {
	width:80%;
	height:100%;
}

#credits {
	position: absolute;
	bottom: 0.5em;
	font-size: 0.6em;
	width: 100%;
}

.reset {
	position:absolute;
	bottom:1.5em;
	width: 100%;
}