<!DOCTYPE html>
<head>
	<title>Sunsetter - find when the sun sets over there</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta name="author" content="Francois Rejete">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<style type="text/css">
		body{
			padding-top: 40px;
		}
		h1, p{
			text-align:center;
		}
		h1{
			font-size:64px;
			margin:75px 0 50px;
		}
		p{
			font-size:24px;
			margin:15px 0;
		}
	</style>
	<h1>404</h1>
	<p>That page doesn't even exist.</p>
	<p>Why don't you just <a href="{{ url_for('index') }}">go back home</a>?</p>
</body>
</html>