<!DOCTYPE html>
<head>
	<title>{% block title %}Sunsetter - find when the sun sets over there{% endblock %}</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta name="author" content="Francois Rejete" />
	<meta name="description" content="An application to find out when the sun sets or rises in a particular direction from a specified location." />
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
	
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen" charset="utf-8" />
	{% block css %}{% endblock %}
	
	<!-- Additional JavaScript libraries and plugins... -->
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script>
		// Load jQuery
		google.load("jquery", "1");
		google.load("jqueryui", "1");
	</script>
	{% block js %}{% endblock %}
	
	<!-- Google Analytics tracking code -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-351155-4']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>

	{% block main %}{% endblock %}

</body>
</html>