{% extends "base.html" %}

{% block js %}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDsz9jssxKwvgEv977cDJ7mue7X6WZCbt8&sensor=true"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/tools.js') }}"></script>
{% endblock %}

{% block main %}
	<div id="menu">
		<h1 id="title">Sunsetter</h1>
		<p class="description">Find out when the sun sets or rises in a particular direction from a specified location.<br /><a href="http://w00kie.com/category/sunsetter-app/">See more info</a></p>
		<p id="step1" class="steps active">1. Click on your point of view.</p>
		<p id="step2" class="steps">2. Click on where you expect to see the sun rise or set.</p>
		<p id="step3" class="steps">3. You can move around the markers to try another combo.</p>
		<p id="azimuth" style="display:none;"></p>
		<p id="results"></p>
		<p class="reset"><button id="reset">Reset</button></p>
		<p id="info"></p>
		<p id="credits">&copy;2012 <a href="http://francois.rejete.com">Francois Rejete</a> built this</p>
	</div>
	<div id="map_canvas"></div>
{% endblock %}